In [1]:
import pandas as pd
import numpy as np

In [2]:
mercedes = pd.read_csv("Raw Dataset/merc.csv")
mercedes

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,SLK,2005,5200,Automatic,63000,Petrol,325,32.1,1.8
1,S Class,2017,34948,Automatic,27000,Hybrid,20,61.4,2.1
2,SL CLASS,2016,49948,Automatic,6200,Petrol,555,28.0,5.5
3,G Class,2016,61948,Automatic,16000,Petrol,325,30.4,4.0
4,G Class,2016,73948,Automatic,4000,Petrol,325,30.1,4.0
...,...,...,...,...,...,...,...,...,...
13114,C Class,2020,35999,Automatic,500,Diesel,145,55.4,2.0
13115,B Class,2020,24699,Automatic,2500,Diesel,145,55.4,2.0
13116,GLC Class,2019,30999,Automatic,11612,Diesel,145,41.5,2.1
13117,CLS Class,2019,37990,Automatic,2426,Diesel,145,45.6,2.0
13118,S Class,2019,54999,Automatic,2075,Diesel,145,52.3,2.9

In [3]:
mercedes[mercedes['tax'] == 0]

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
329,C Class,2016,18498,Semi-Auto,31891,Hybrid,0,134.5,2.0
413,C Class,2016,17998,Semi-Auto,36587,Hybrid,0,134.5,2.0
427,C Class,2016,19698,Automatic,25107,Hybrid,0,134.5,2.0
446,C Class,2016,20998,Semi-Auto,23429,Hybrid,0,122.8,2.0
463,C Class,2015,17498,Semi-Auto,42471,Hybrid,0,76.4,2.1
...,...,...,...,...,...,...,...,...,...
12625,A Class,2016,12750,Manual,20458,Diesel,0,80.7,1.5
12626,A Class,2016,11400,Manual,44277,Diesel,0,80.7,1.5
12687,C Class,2017,17480,Automatic,47019,Hybrid,0,134.5,2.0
12713,C Class,2017,20480,Automatic,30053,Hybrid,0,134.5,2.0
12999,C Class,2016,15999,Automatic,66077,Hybrid,0,134.5,2.0

In [4]:
mercedes['brand'] = "Mercedes"

In [5]:
mercedes.describe()

,year,price,mileage,tax,mpg,engineSize
count,13119.000000,13119.000000,13119.000000,13119.000000,13119.000000,13119.000000
mean,2017.296288,24698.596920,21949.559037,129.972178,55.155843,2.071530
std,2.224709,11842.675542,21176.512267,65.260286,15.220082,0.572426
min,1970.000000,650.000000,1.000000,0.000000,1.100000,0.000000
25%,2016.000000,17450.000000,6097.500000,125.000000,45.600000,1.800000
50%,2018.000000,22480.000000,15189.000000,145.000000,56.500000,2.000000
75%,2019.000000,28980.000000,31779.500000,145.000000,64.200000,2.100000
max,2020.000000,159999.000000,259000.000000,580.000000,217.300000,6.200000

In [6]:
ford = pd.read_csv("Raw Dataset/ford.csv")
ford

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,Fiesta,2017,12000,Automatic,15944,Petrol,150,57.7,1.0
1,Focus,2018,14000,Manual,9083,Petrol,150,57.7,1.0
2,Focus,2017,13000,Manual,12456,Petrol,150,57.7,1.0
3,Fiesta,2019,17500,Manual,10460,Petrol,145,40.3,1.5
4,Fiesta,2019,16500,Automatic,1482,Petrol,145,48.7,1.0
...,...,...,...,...,...,...,...,...,...
17960,Fiesta,2016,7999,Manual,31348,Petrol,125,54.3,1.2
17961,B-MAX,2017,8999,Manual,16700,Petrol,150,47.1,1.4
17962,B-MAX,2014,7499,Manual,40700,Petrol,30,57.7,1.0
17963,Focus,2015,9999,Manual,7010,Diesel,20,67.3,1.6
17964,KA,2018,8299,Manual,5007,Petrol,145,57.7,1.2

In [7]:
ford['brand'] = "Ford"
ford

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize,brand
0,Fiesta,2017,12000,Automatic,15944,Petrol,150,57.7,1.0,Ford
1,Focus,2018,14000,Manual,9083,Petrol,150,57.7,1.0,Ford
2,Focus,2017,13000,Manual,12456,Petrol,150,57.7,1.0,Ford
3,Fiesta,2019,17500,Manual,10460,Petrol,145,40.3,1.5,Ford
4,Fiesta,2019,16500,Automatic,1482,Petrol,145,48.7,1.0,Ford
...,...,...,...,...,...,...,...,...,...,...
17960,Fiesta,2016,7999,Manual,31348,Petrol,125,54.3,1.2,Ford
17961,B-MAX,2017,8999,Manual,16700,Petrol,150,47.1,1.4,Ford
17962,B-MAX,2014,7499,Manual,40700,Petrol,30,57.7,1.0,Ford
17963,Focus,2015,9999,Manual,7010,Diesel,20,67.3,1.6,Ford
17964,KA,2018,8299,Manual,5007,Petrol,145,57.7,1.2,Ford

In [8]:
audi = pd.read_csv("Raw Dataset/audi.csv")
audi

      model  year  price transmission  mileage fuelType  tax   mpg  engineSize
0        A1  2017  12500       Manual    15735   Petrol  150  55.4         1.4
1        A6  2016  16500    Automatic    36203   Diesel   20  64.2         2.0
2        A1  2016  11000       Manual    29946   Petrol   30  55.4         1.4
3        A4  2017  16800    Automatic    25952   Diesel  145  67.3         2.0
4        A3  2019  17300       Manual     1998   Petrol  145  49.6         1.0
...     ...   ...    ...          ...      ...      ...  ...   ...         ...
10663    A3  2020  16999       Manual     4018   Petrol  145  49.6         1.0
10664    A3  2020  16999       Manual     1978   Petrol  150  49.6         1.0
10665    A3  2020  17199       Manual      609   Petrol  150  49.6         1.0
10666    Q3  2017  19499    Automatic     8646   Petrol  150  47.9         1.4
10667    Q3  2016  15999       Manual    11855   Petrol  150  47.9         1.4

[10668 rows x 9 columns]

In [9]:
audi['brand'] = 'Audi'
audi

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize,brand
0,A1,2017,12500,Manual,15735,Petrol,150,55.4,1.4,Audi
1,A6,2016,16500,Automatic,36203,Diesel,20,64.2,2.0,Audi
2,A1,2016,11000,Manual,29946,Petrol,30,55.4,1.4,Audi
3,A4,2017,16800,Automatic,25952,Diesel,145,67.3,2.0,Audi
4,A3,2019,17300,Manual,1998,Petrol,145,49.6,1.0,Audi
...,...,...,...,...,...,...,...,...,...,...
10663,A3,2020,16999,Manual,4018,Petrol,145,49.6,1.0,Audi
10664,A3,2020,16999,Manual,1978,Petrol,150,49.6,1.0,Audi
10665,A3,2020,17199,Manual,609,Petrol,150,49.6,1.0,Audi
10666,Q3,2017,19499,Automatic,8646,Petrol,150,47.9,1.4,Audi
10667,Q3,2016,15999,Manual,11855,Petrol,150,47.9,1.4,Audi

In [10]:
skoda = pd.read_csv('Raw Dataset/skoda.csv')
skoda

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,Octavia,2017,10550,Manual,25250,Petrol,150,54.3,1.4
1,Citigo,2018,8200,Manual,1264,Petrol,145,67.3,1.0
2,Octavia,2019,15650,Automatic,6825,Diesel,145,67.3,2.0
3,Yeti Outdoor,2015,14000,Automatic,28431,Diesel,165,51.4,2.0
4,Superb,2019,18350,Manual,10912,Petrol,150,40.9,1.5
...,...,...,...,...,...,...,...,...,...
6262,Yeti,2014,11440,Semi-Auto,14569,Petrol,160,44.8,1.2
6263,Octavia,2014,10990,Semi-Auto,49999,Petrol,30,56.5,1.4
6264,Fabia,2017,9500,Semi-Auto,17131,Petrol,145,61.4,1.0
6265,Citigo,2016,5999,Manual,21747,Petrol,20,62.8,1.0
6266,Fabia,2017,9232,Semi-Auto,42530,Petrol,20,60.1,1.2

In [11]:
skoda['brand'] = 'Skoda'
skoda

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize,brand
0,Octavia,2017,10550,Manual,25250,Petrol,150,54.3,1.4,Skoda
1,Citigo,2018,8200,Manual,1264,Petrol,145,67.3,1.0,Skoda
2,Octavia,2019,15650,Automatic,6825,Diesel,145,67.3,2.0,Skoda
3,Yeti Outdoor,2015,14000,Automatic,28431,Diesel,165,51.4,2.0,Skoda
4,Superb,2019,18350,Manual,10912,Petrol,150,40.9,1.5,Skoda
...,...,...,...,...,...,...,...,...,...,...
6262,Yeti,2014,11440,Semi-Auto,14569,Petrol,160,44.8,1.2,Skoda
6263,Octavia,2014,10990,Semi-Auto,49999,Petrol,30,56.5,1.4,Skoda
6264,Fabia,2017,9500,Semi-Auto,17131,Petrol,145,61.4,1.0,Skoda
6265,Citigo,2016,5999,Manual,21747,Petrol,20,62.8,1.0,Skoda
6266,Fabia,2017,9232,Semi-Auto,42530,Petrol,20,60.1,1.2,Skoda

In [12]:
toyota = pd.read_csv('Raw Dataset/toyota.csv')
toyota

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,GT86,2016,16000,Manual,24089,Petrol,265,36.2,2.0
1,GT86,2017,15995,Manual,18615,Petrol,145,36.2,2.0
2,GT86,2015,13998,Manual,27469,Petrol,265,36.2,2.0
3,GT86,2017,18998,Manual,14736,Petrol,150,36.2,2.0
4,GT86,2017,17498,Manual,36284,Petrol,145,36.2,2.0
...,...,...,...,...,...,...,...,...,...
6733,IQ,2011,5500,Automatic,30000,Petrol,20,58.9,1.0
6734,Urban Cruiser,2011,4985,Manual,36154,Petrol,125,50.4,1.3
6735,Urban Cruiser,2012,4995,Manual,46000,Diesel,125,57.6,1.4
6736,Urban Cruiser,2011,3995,Manual,60700,Petrol,125,50.4,1.3
6737,Urban Cruiser,2011,4495,Manual,45128,Petrol,125,50.4,1.3

In [13]:
toyota[(toyota['tax'] == 0)]

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
815,Yaris,2016,11500,Automatic,31911,Hybrid,0,78.0,1.5
816,Yaris,2014,8500,Automatic,72053,Hybrid,0,76.3,1.5
820,Yaris,2016,12500,Automatic,23150,Hybrid,0,78.0,1.5
829,Yaris,2016,12695,Automatic,15945,Hybrid,0,78.0,1.5
830,Yaris,2014,10495,Automatic,29452,Hybrid,0,78.0,1.5
...,...,...,...,...,...,...,...,...,...
6318,Prius,2017,19295,Automatic,33124,Hybrid,0,85.6,1.8
6727,IQ,2009,3495,Manual,43000,Petrol,0,65.7,1.0
6728,IQ,2009,2699,Manual,74095,Petrol,0,65.7,1.0
6730,IQ,2013,4849,Manual,41142,Petrol,0,64.2,1.0
6732,IQ,2012,2495,Manual,72498,Petrol,0,64.2,1.0

In [14]:
vw = pd.read_csv('Raw Dataset/vw.csv')
vw

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,T-Roc,2019,25000,Automatic,13904,Diesel,145,49.6,2.0
1,T-Roc,2019,26883,Automatic,4562,Diesel,145,49.6,2.0
2,T-Roc,2019,20000,Manual,7414,Diesel,145,50.4,2.0
3,T-Roc,2019,33492,Automatic,4825,Petrol,145,32.5,2.0
4,T-Roc,2019,22900,Semi-Auto,6500,Petrol,150,39.8,1.5
...,...,...,...,...,...,...,...,...,...
15152,Eos,2012,5990,Manual,74000,Diesel,125,58.9,2.0
15153,Fox,2008,1799,Manual,88102,Petrol,145,46.3,1.2
15154,Fox,2009,1590,Manual,70000,Petrol,200,42.0,1.4
15155,Fox,2006,1250,Manual,82704,Petrol,150,46.3,1.2
15156,Fox,2007,2295,Manual,74000,Petrol,145,46.3,1.2

In [15]:
vw['brand'] = 'Volkswagen'
vw

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize,brand
0,T-Roc,2019,25000,Automatic,13904,Diesel,145,49.6,2.0,Volkswagen
1,T-Roc,2019,26883,Automatic,4562,Diesel,145,49.6,2.0,Volkswagen
2,T-Roc,2019,20000,Manual,7414,Diesel,145,50.4,2.0,Volkswagen
3,T-Roc,2019,33492,Automatic,4825,Petrol,145,32.5,2.0,Volkswagen
4,T-Roc,2019,22900,Semi-Auto,6500,Petrol,150,39.8,1.5,Volkswagen
...,...,...,...,...,...,...,...,...,...,...
15152,Eos,2012,5990,Manual,74000,Diesel,125,58.9,2.0,Volkswagen
15153,Fox,2008,1799,Manual,88102,Petrol,145,46.3,1.2,Volkswagen
15154,Fox,2009,1590,Manual,70000,Petrol,200,42.0,1.4,Volkswagen
15155,Fox,2006,1250,Manual,82704,Petrol,150,46.3,1.2,Volkswagen
15156,Fox,2007,2295,Manual,74000,Petrol,145,46.3,1.2,Volkswagen

In [16]:
combined_final = mercedes.merge(ford, how = 'outer')
combined_final = combined_final.merge(audi, how = 'outer')
combined_final = combined_final.merge(skoda, how = 'outer')
combined_final = combined_final.merge(toyota, how = 'outer')
combined_final = combined_final.merge(vw, how = 'outer')
combined_final

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize,brand
0,SLK,2005,5200,Automatic,63000,Petrol,325,32.1,1.8,Mercedes
1,S Class,2017,34948,Automatic,27000,Hybrid,20,61.4,2.1,Mercedes
2,SL CLASS,2016,49948,Automatic,6200,Petrol,555,28.0,5.5,Mercedes
3,G Class,2016,61948,Automatic,16000,Petrol,325,30.4,4.0,Mercedes
4,G Class,2016,73948,Automatic,4000,Petrol,325,30.1,4.0,Mercedes
...,...,...,...,...,...,...,...,...,...,...
69909,Eos,2012,5990,Manual,74000,Diesel,125,58.9,2.0,Volkswagen
69910,Fox,2008,1799,Manual,88102,Petrol,145,46.3,1.2,Volkswagen
69911,Fox,2009,1590,Manual,70000,Petrol,200,42.0,1.4,Volkswagen
69912,Fox,2006,1250,Manual,82704,Petrol,150,46.3,1.2,Volkswagen
69913,Fox,2007,2295,Manual,74000,Petrol,145,46.3,1.2,Volkswagen

In [17]:
combined_final[combined_final.duplicated(keep = False)]

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize,brand
468,V Class,2018,19998,Manual,27222,Diesel,145,46.3,2.1,Mercedes
469,V Class,2018,19998,Manual,27222,Diesel,145,46.3,2.1,Mercedes
470,V Class,2016,17998,Manual,21981,Diesel,200,46.3,2.1,Mercedes
471,V Class,2016,17998,Manual,21981,Diesel,200,46.3,2.1,Mercedes
1327,GLB Class,2020,35400,Semi-Auto,2000,Diesel,145,46.3,2.0,Mercedes
...,...,...,...,...,...,...,...,...,...,...
69244,Golf SV,2019,23998,Semi-Auto,10,Diesel,145,50.4,2.0,Volkswagen
69246,Golf SV,2019,22798,Manual,10,Petrol,145,43.5,1.5,Volkswagen
69247,Golf SV,2019,22798,Manual,10,Petrol,145,43.5,1.5,Volkswagen
69449,Golf SV,2016,7999,Manual,50777,Diesel,0,72.4,1.6,Volkswagen
69450,Golf SV,2016,7999,Manual,50777,Diesel,0,72.4,1.6,Volkswagen

In [18]:
combined_final.drop_duplicates(inplace = True)
combined_final

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize,brand
0,SLK,2005,5200,Automatic,63000,Petrol,325,32.1,1.8,Mercedes
1,S Class,2017,34948,Automatic,27000,Hybrid,20,61.4,2.1,Mercedes
2,SL CLASS,2016,49948,Automatic,6200,Petrol,555,28.0,5.5,Mercedes
3,G Class,2016,61948,Automatic,16000,Petrol,325,30.4,4.0,Mercedes
4,G Class,2016,73948,Automatic,4000,Petrol,325,30.1,4.0,Mercedes
...,...,...,...,...,...,...,...,...,...,...
69909,Eos,2012,5990,Manual,74000,Diesel,125,58.9,2.0,Volkswagen
69910,Fox,2008,1799,Manual,88102,Petrol,145,46.3,1.2,Volkswagen
69911,Fox,2009,1590,Manual,70000,Petrol,200,42.0,1.4,Volkswagen
69912,Fox,2006,1250,Manual,82704,Petrol,150,46.3,1.2,Volkswagen
69913,Fox,2007,2295,Manual,74000,Petrol,145,46.3,1.2,Volkswagen

In [19]:
combined_final[combined_final['tax'] == 0]

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize,brand
329,C Class,2016,18498,Semi-Auto,31891,Hybrid,0,134.5,2.0,Mercedes
413,C Class,2016,17998,Semi-Auto,36587,Hybrid,0,134.5,2.0,Mercedes
427,C Class,2016,19698,Automatic,25107,Hybrid,0,134.5,2.0,Mercedes
446,C Class,2016,20998,Semi-Auto,23429,Hybrid,0,122.8,2.0,Mercedes
463,C Class,2015,17498,Semi-Auto,42471,Hybrid,0,76.4,2.1,Mercedes
...,...,...,...,...,...,...,...,...,...,...
69451,Golf SV,2016,10550,Manual,16739,Diesel,0,72.4,1.6,Volkswagen
69453,Golf SV,2015,8950,Manual,45000,Diesel,0,72.4,1.6,Volkswagen
69458,Golf SV,2015,9695,Manual,21151,Diesel,0,72.4,1.6,Volkswagen
69478,Golf SV,2014,8650,Manual,32535,Diesel,0,72.4,1.6,Volkswagen
69479,Golf SV,2017,7995,Manual,71600,Diesel,0,72.4,1.6,Volkswagen

In [20]:
combined_final.drop(combined_final[combined_final['tax'] == 0].index, inplace=True)

In [21]:
combined_final[combined_final['year'] == 2060]

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize,brand
30845,Fiesta,2060,6495,Automatic,54807,Petrol,205,42.8,1.4,Ford

In [22]:
combined_final.drop(index=30845, inplace=True)

In [23]:
combined_final['year'].value_counts()

year
2019    18664
2017    14205
2018     9665
2016     8621
2015     4190
2020     2935
2014     2301
2013     1492
2012      362
2011      281
2010      200
2009      189
2008      145
2007      114
2006       60
2005       54
2004       33
2003       24
2002       19
2001       15
1998        7
2000        6
1997        2
1999        2
1970        1
1996        1
Name: count, dtype: int64

In [24]:
combined_final[(combined_final['year'] == 1996) | (combined_final['year'] == 1970)]

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize,brand
12072,M Class,1970,24999,Automatic,14000,Diesel,305,39.2,0.0,Mercedes
29997,Escort,1996,3000,Manual,50000,Petrol,265,34.4,1.8,Ford

In [25]:
combined_final.drop(index=(12072), inplace=True)

In [26]:
combined_final.drop(index=(29997), inplace=True)

In [27]:
combined_final.to_csv('1. Combined Dataset V.2.csv')